<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2019 Ayogo Health Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-oauth" version="2.0.0">
  <name>cordova-plugin-oauth</name>
  <description>Cordova plugin for performing OAuth login flows.</description>
  <keywords>cordova,ios,android,oauth</keywords>
  <license>Apache 2.0</license>
  <repo>https://github.com/AyogoHealth/cordova-plugin-oauth.git</repo>
  <issues>https://github.com/AyogoHealth/cordova-plugin-oauth/issues</issues>

  <preference name="URL_SCHEME" />

  <engines>
    <engine name="cordova-ios" version=">= 5.0.0" />
    <engine name="cordova-android" version=">= 8.0.0" />
  </engines>

  <js-module src="www/oauth.js" name="OAuth">
    <clobbers target="open" />
  </js-module>

  <config-file target="config.xml" parent="/*">
    <preference name="urlScheme" value="$URL_SCHEME"/>
  </config-file>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="OAuth">
        <param name="ios-package" value="CDVOAuthPlugin" />
        <param name="onload" value="true" />
      </feature>

      <preference name="SwiftVersion" value="5.0" />
    </config-file>

    <config-file parent="CFBundleURLTypes" target="*-Info.plist">
      <array>
        <dict>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>$URL_SCHEME</string>
          </array>
        </dict>
      </array>
    </config-file>

    <source-file src="src/ios/OAuthPlugin.swift" />
  </platform>


  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="OAuth">
        <param name="android-package" value="com.ayogo.cordova.oauth.OAuthPlugin" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application/activity[@android:label='@string/activity_name']">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="$URL_SCHEME" android:host="oauth_callback" />
      </intent-filter>
    </config-file>

    <source-file src="src/android/OAuthPlugin.java" target-dir="src/com/ayogo/cordova/oauth" />

    <preference name="ANDROID_SUPPORT_CUSTOM_TABS_VERSION" default="28.+" />

    <framework src="com.android.support:customtabs:$ANDROID_SUPPORT_CUSTOM_TABS_VERSION" />
  </platform>
</plugin>
